<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.kenai.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:theme="@style/DefaultTheme"
            android:name="cc.kenai.common.ad.KenaiTuiguang"
            android:excludeFromRecents="true" />
        <activity
            android:name="com.kenai.function.lock.LockApplyPro"
            android:excludeFromRecents="true" />

        <receiver
            android:name="com.kenai.function.lock.LockReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock_screen" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
